body {
	background: lightgrey;	
}

.nav {
	background-color: black;
}
.fa {
   color: white;
   padding: 10px 10px;	
 	
}
.fa:hover {
	background-color: lightgrey;
	color: black;
	text-decoration: none;

}

.fa-search {
	margin-left: 1140px;
}

#world {
	background-color: black;
	color: white;
}
#first {
	text-align: center;
	
	line-height: 40px;
}
#first h2  {
	
	padding-top: 50px;
	}
#first p  {
	
	padding-bottom: 30px;

	}
	
.container-fluid {
  position: relative;
  
}
.container-fluid img {
  width: 90%;
  padding-top: 0px;

}
#pic{
  position: absolute;
  background-color: grey;
  color: black;
  font-size: 16px;
  padding: 12px 30px;
  top: 30%;
  right: 40%;
  border-radius: 0;
  opacity: 80%;
  
  
}
.container-fluid .btn:hover {
	background-color: white;
}



.text-block {
  position: absolute;
  bottom: 200px;
  color: white;
  padding-left: 20px;
  padding-bottom: 300px;
  
}
.text-block h3{
padding-right: 200px;
}
.text-block h1 {
	font-weight: bold;
}
.anna {
	float: right;
	width: 30%;
	background-color: 
	margin-top: 30px;
	margin-left: 20px;

}

.article {
	width: 65%;
	background-color: white;
	padding-top: 30px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 25px;
}

 .article p {
 	text-align: justify;
 	padding: 15px 50px;

 }

#jane {
	background-color: white;
	padding-bottom: 1px;


}
 #picture {
 	width: 100%;
 }
 #one {
 	margin-top: 30px;
 	margin-left: 20px;
 	margin-right: 20px;
 }
 #firstp{
 	margin-bottom: 0px;
 	padding-bottom: 0px;
 	text-align: left;
 	


 }
.info{
	padding-top: 20px;

}
.fa-thumbs-up {
	background-color: white;
	color: black;
	border: 1px solid black;
	word-spacing: 50px;
	margin-left: 45px;
	padding: 10px 15px;
	float: left;
	cursor: pointer;
}
.btn-dark{
	float: right;
	margin-right: 45px;

	float:right;
	
	
}
.btn-dark:hover {
	background-color: yellow;
	color: black;
	
}
span{
	background-color: white;
	color: black;
	padding: 5px;
	margin-bottom: 10px;

}
#george{
	width: 10%;
	height: 9%;
	float: left;
	margin-left:30px;
	margin-right: 40px;
}

.date {
	text-align: justify;
	margin-top: 30px;
	line-height: 5px;

}
.below{
	padding-top: 20px;
}
#footer {
	width: 100%;
	height: 150px;
	background-color: darkgrey;
	color: white;


}

#last {
	margin-right: 1310px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#footer  a{
	text-decoration: underline;
	color: white;
}
.eyes{
	margin-right: -20px;
   
}
.text {
	
margin-right: 43px;
background-color: black;
color: white;

text-align: justify;
padding-right: 50px;
padding-left: 25px;
padding-bottom: 10px;
font-size: 14px;

}
.anna h5 {
background-color: black;
color: white;
padding: 15px;
margin-bottom: 0;
margin-right: 35px;
margin-top: 30px;
}

#photo{
	width: 50px;
	margin-left: -20px;

    float: left;
	
}
#firstone li {
	list-style-type:  none;
	padding-top: 10px;
	
}
#firstone ul {
	background-color: white;
	margin-right: 35px;
} 

#firstone h6, p{
display: inline-block;
padding-left: 20px;
}

#ad p{
	padding: 120px;

	background-color: lightgrey;
	margin-left: 10px;
	width: 375px;
	height: 50px;
	margin-top: 10px;

}
#ad {
	background-color: white;
	margin-bottom: 20px;
	margin-right: 35px;

}
#tag{
	padding-top: 40px;
	background-color: white;
	margin-bottom: 20px;
	margin-right: 35px;
}
#tag a{
	color: black;
	background-color: lightgrey;
	text-decoration: none;
	margin-left: -10px;
}
#black a{
	background-color: black;
	color: white;
}
#four img{
	width: 48%;

	padding-left: 20px;
	padding-top: 20px;
}
#four{
	background-color: white;
	padding-bottom: 20px;
	margin-right: 35px;
}

#social a{
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	height: 30px;

}
#social .fa{
	color: black;
}
#social .fa-facebook{
	background-color: black;
	color: white;
	margin-left: 10px;
	list-style-type: square;
}
#social {
	background-color: white;
	margin-bottom: 30px;
	margin-right: 35px;
}
.last p {
	
	padding-top: 7px;
}
.last{
	background-color: white;
	margin-right: 35px;
}
#mail{
	width: 95%;
	color: grey;
	margin-left: 10px;
}
#sub{
	background: red;
	width: 95%;
	color: white;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 40px;
	margin-left: 10px;
}
